* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 1200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: bold;
}
.header nav .menu-logo{
    font-size: 25px;
    display: none;
}
@media (width <= 1178px) {
    .header nav ul {
        display: none;
    }
    .header nav .menu-logo {
        display: flex;
        gap: 30px;
    }
    .header{
        width: 100%;
        padding-inline: 20px;
    }
    
}
@media (width <=1178px) {
    .header-rigth .logo{
        display: none;
    }
}
.logo img {
    width: 130px;
    
}
.header-rigth .logo {
    margin-right: 90px;
}
@media (width <= 1178px) {
    .header-rigth .logo {
        display: none;
    }
    
}
.search input {
    padding: 10px;
}
.search {
    display: flex;
    gap: 20px;
    align-items: center;
}
.search input {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    opacity: 0.5;
    border: 1px solid gray;
}
.search input:hover{
    background-color: rgb(235, 235, 235);
}

.search i {
    font-size: 25px;
}
.search .icon {
    padding: 10px;
    border-radius: 5px;
    transition: 0.3;
}
.search .icon:hover{
    background-color: rgb(235, 235, 235);
}
.search i:hover {
    background-color: rgb(235, 235, 235);
}
.header-rigth {
    display: flex;
    align-items: center;
}
.account button {
    font-size: 18px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    
}
.account button:hover {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 243, 243);
    transition: 0.4s;
}
